{% load static %}

{% block headerinclude %}
    <title>EmoBOT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
{% endblock headerinclude %}

{% block content %}
        <div class="signup">
        <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
                <h2>SIGN UP</h2>

                <label>First Name</label>
                    <input type="text" name="firstname" placeholder="First Name" required/><br>
                <label>Last Name</label>
                    <input type="text" name="lastname" placeholder="Last Name" required/><br>
                <label>Home Address</label>
                    <input type="text" name="homeaddress" placeholder="Home Address" required/><br>
                <label>Province</label>
                    <select id="province" name="province" required></select><br>
                <label>City</label>
                    <select id="city" name="city" required></select><br>
                <label>Gender</label>
                    <select name="gender" required>
                        <option disabled selected>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select><br>
                <label>Birthdate</label>
                    <input type="date" name="birthday" placeholder="Birthdate" required/><br>
                <label>Email</label>
                    <input type="email" name="email" placeholder="Email" required/><br>
                <label>Username</label>
                    <input type="text" name="username" placeholder="Username" required/><br>
                <label>Password</label>
                    <input type="password" name="password" placeholder="Password" required/><br>
                <label>Confirm Password</label>
                    <input type="password" name="re_password" placeholder="Confirm Password" required/><br>

                <button type="submit">Sign Up</button>
                <a href="{% url 'emobot:login_view' %}" class="ca">Already have an account?</a>
        </form>
        </div>      
{% endblock content %}

{% block footerinclude %}
    <script>
        // Basic Usage
        window.onload = function() {
                
            var $ = new City();
            
            $.showProvinces('#province');
            
            $.showCities('#city');	
            
        }
    </script>
    <script src="{% static 'script/city.js' %}"></script>	  
{% endblock footerinclude %}